@page "/"

@namespace Website.Lib

@inherits ComponentBase


<div class="dw-section-condensed">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12 dw-tagline">

                    <div class="dw-picture-left">
                        <p class="mdc-typography--headline4">Forward looking investment analytics for institutional real estate investors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dw-section-condensed dw-accent-panel">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <div class="dw-panel-container">
                        <p class="mdc-typography--subtitle2 dw-quote">
                            Dioptra Vectis drives our loan book management and gives us an unparalleled insight into both individual loan and broad portfolio risks. No other loan system or real estate analytics provider we have seen comes close.
                            Dioptra Vectis is by far the best property loan management platform that we have come across.
                        </p>
                        <p class="mdc-typography--body1 dw-quoted">Ed Marley-Shaw, CEO <a href="https://www.clearwellcapital.co.uk" target="_blank">Clearwell Capital</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
